# 一、导入工具包

In [1]:
#导入数据处理库
import numpy as np
import pandas as pd
import os
os.environ["TF_CPP_MIN_LOG_LEVEL"] = '3' # 只显示 Error
#数据保存为Excel
import openpyxl
#随机生成数据
import random
#使得输出的数据可以完整打印出来全部的行列
#显示所有列
#pd.set_option('display.max_columns',None)
#显示所有行
#pd.set_option('display.max_rows',None)

# 二、读入数据

- 这次数据比较多，数据总量超过Excel单个单元表的最大容量，所以在API接口获取时，分为了6个Excel储存，日后可以学习下数据库用于储存大规模数据

In [ ]:
#读取全部路径2018年3月1日到4月22日的数据
data1 = pd.read_excel(r'ShenZhen-roadData(180301-181124)\180301-180422.xlsx',engine='openpyxl')
#读取全部路径2018年4月23日到6月10日的数据
data2 = pd.read_excel(r'ShenZhen-roadData(180301-181124)\180423-180610.xlsx',engine='openpyxl')
#读取全部路径2018年6月11日到7月16日的数据
data3 = pd.read_excel(r'ShenZhen-roadData(180301-181124)\180611-180716.xlsx',engine='openpyxl')
#读取全部路径2018年7月17日到9月1日的数据
data4 = pd.read_excel(r'ShenZhen-roadData(180301-181124)\180717-180901.xlsx',engine='openpyxl')
#读取全部路径2018年9月2日到10月21日的数据
data5 = pd.read_excel(r'ShenZhen-roadData(180301-181124)\180902-181021.xlsx',engine='openpyxl')
#读取全部路径2018年10月22日到11月24日的数据
data6 = pd.read_excel(r'ShenZhen-roadData(180301-181124)\181022-181124.xlsx',engine='openpyxl')

# 三、定义提取单一路径数据的函数

- 将每个数据集下面的单条路径的数据提取出来，并把单个路径的全部数据合并到一起

## （一）编写函数

In [ ]:
def extract_single_road(num): #确定自己是处理哪一条数据的,num是一个数字，指的是某一条路径的编号
    #<------从每个数据集都仅提取出一条路径的全部数据---------->
    #提取单一路径（路径2为例）2018年3月1日到4月22日的数据
    roadData1 = data1.loc[data1['BLOCKID']==num]
    #提取单一路径（路径2为例）2018年4月23日到6月10日的数据
    roadData2 = data2.loc[data2['BLOCKID']==num]
    #提取单一路径（路径2为例）2018年6月11日到7月16日的数据
    roadData3 = data3.loc[data3['BLOCKID']==num]
    #提取单一路径（路径2为例）2018年7月17日到9月1日的数据
    roadData4 = data4.loc[data4['BLOCKID']==num]
    #提取单一路径（路径2为例）2018年9月2日到10月21日的数据
    roadData5 = data5.loc[data5['BLOCKID']==num]
    #提取单一路径（路径2为例）2018年10月23日到11月24日的数据
    roadData6 = data6.loc[data6['BLOCKID']==num]
    #<------将每个数据集的一条路径的全部数据合并为一个dataframe---------->
    #把上述6个数据集的数据合并为一个dataframe
    '''
    #原来版本语法
    roadData = roadData1.append(roadData2)   #把roadData2的数据添加到roadData1后面，并形成一个新的dataframe，命名为roadData
    roadData = roadData.append(roadData3)    #把roadData3的数据添加到roadData后面
    roadData = roadData.append(roadData4)    #把roadData4的数据添加到roadData后面
    roadData = roadData.append(roadData5)    #把roadData5的数据添加到roadData后面
    roadData = roadData.append(roadData6)    #把roadData6的数据添加到roadData后面'''
    #新版本语法
    roadData = pd.concat([roadData1, roadData2,roadData3,roadData4,roadData5,roadData6], ignore_index=True)
    return roadData

## （二）函数测试

In [13]:
num = 1
roadData = extract_single_road(num) 
roadData

                      TIME1  PERIOD  EXPONENT  BLOCKID
67      2018-03-01 00:00:00       1         1        1
84      2018-03-01 00:00:00       2         1        1
192     2018-03-01 00:00:00       3         1        1
261     2018-03-01 00:00:00       4         1        1
345     2018-03-01 00:00:00       5         1        1
...                     ...     ...       ...      ...
721036  2018-11-24 00:00:00     283         1        1
721165  2018-11-24 00:00:00     284         1        1
721229  2018-11-24 00:00:00     285         1        1
721319  2018-11-24 00:00:00     286         1        1
721325  2018-11-24 00:00:00     287         1        1

[74988 rows x 4 columns]

In [14]:
#查看roadData数据的情况
roadData.info(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74988 entries, 67 to 721325
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TIME1     74988 non-null  object
 1   PERIOD    74988 non-null  int64
 2   EXPONENT  74988 non-null  int64
 3   BLOCKID   74988 non-null  int64
dtypes: int64(3), object(1)
memory usage: 2.9+ MB

In [15]:
#查看roadData数据的情况
roadData.head(10)

                   TIME1  PERIOD  EXPONENT  BLOCKID
67   2018-03-01 00:00:00       1         1        1
84   2018-03-01 00:00:00       2         1        1
192  2018-03-01 00:00:00       3         1        1
261  2018-03-01 00:00:00       4         1        1
345  2018-03-01 00:00:00       5         1        1
438  2018-03-01 00:00:00       6         1        1
501  2018-03-01 00:00:00       7         1        1
551  2018-03-01 00:00:00       8         1        1
658  2018-03-01 00:00:00       9         1        1
696  2018-03-01 00:00:00      10         1        1

In [16]:
#查看每一天是否有重复观测值和缺失观测值，返回的数据类型是pd.series类型
roadData.TIME1.value_counts()

2018-07-16 00:00:00    419
2018-10-23 00:00:00    290
2018-07-23 00:00:00    289
2018-09-12 00:00:00    289
2018-09-21 00:00:00    289
                      ...
2018-04-16 00:00:00    168
2018-07-17 00:00:00    127
2018-07-14 00:00:00    118
2018-05-05 00:00:00    109
2018-07-15 00:00:00     15
Name: TIME1, Length: 268, dtype: int64

- 发现部分日期的数据有缺失值

# 四、定义增加缺失值和剔除重复值的函数

## （一）寻找较优补值策略：补值方法准确率对比

### 1.前项补值

In [17]:
def forward_supplement_accuracy_rate(roadData,sample_num):
    #统计TIME1列数据的频数（合理的频数为288），确认数据重复和缺失情况
    a = roadData.TIME1.value_counts()  #此时a是series类型，根据a的结果，可以发现有重复数据和缺失数据
    #针对有重复数据的，删除重复数据（直接在原dataframe上进行操作）
    roadData.drop_duplicates(inplace=True)
    #将数据按照时间顺序（先对TIME1再对PERIOD），（从小到大排序），（直接在原dataframe上进行操作）
    roadData.sort_values(by = ['TIME1','PERIOD'],ascending=True,inplace=True)
    #重置索引，让索引按照一个顺序下来
    roadData=roadData.reset_index()
    #删除退居二线的原来的没用的索引
    del roadData['index']
    #返回全部无缺失观测值的天数索引值，返回值是一个列表
    b = list(a[a.values==288].index)
    #对b的天数增序排列
    b.sort()
    
    #遍历所有的无确实观测值的天数的索引值，提取出某一天的全部数据（dataframe），然后依次添加每一天的数据（dataframe）进去，合并为一个大（dataframe）
    roadData_no_queshi = roadData[(roadData.TIME1 == b[0])]
    for i in range(1,len(b)):
        new_roadData_no_queshi = roadData[(roadData.TIME1 == b[i])]  #类型为（dataframe）
        roadData_no_queshi = roadData_no_queshi.append(new_roadData_no_queshi)    #roadData_no_queshi是提取出来的全部不含缺失值的数据，类型为（dataframe）
    
    #随机从某条路径的数据中抽取 n 条数据，为无放回抽样
    sample = roadData_no_queshi.sample(n=sample_num,replace=False)
    sample
    
    #遍历所抽取的 n 条数据，使用补值方法进行补值，查看正确率
    #创建一个空列表用于储存补的值
    supplemental_EXPONENT_list = []
    sample_TIME1 = list(sample['TIME1'].values)
    sample_PERIOD = list(sample['PERIOD'].values)
    for i in range(sample.shape[0]):
        indexOfTrueValue = roadData[(roadData.TIME1 == sample_TIME1[i]) & (roadData.PERIOD == sample_PERIOD[i])].index
        supplemental_EXPONENT = roadData.EXPONENT.values[indexOfTrueValue-1]
        supplemental_EXPONENT_list = supplemental_EXPONENT_list + [supplemental_EXPONENT]
    
    #比较所有样本的拥堵状况的真实值和增补的值的差异，计算补值方法的正确度
    sample_EXPONENT = list(sample['EXPONENT'].values)
    sum = 0
    for i in range(len(sample_EXPONENT)):
        if sample_EXPONENT[i]==supplemental_EXPONENT_list[i]:
            sum += 1
    accuracy_rate = sum/len(sample_EXPONENT)
    print(accuracy_rate)   
    
    return accuracy_rate

In [18]:
accuracy_rate = forward_supplement_accuracy_rate(roadData,1000)

0.799

### 2.后项补值

In [19]:
def backward_supplement_accuracy_rate(roadData,sample_num):
    #统计TIME1列数据的频数（合理的频数为288），确认数据重复和缺失情况
    a = roadData.TIME1.value_counts()  #此时a是series类型，根据a的结果，可以发现有重复数据和缺失数据
    #针对有重复数据的，删除重复数据（直接在原dataframe上进行操作）
    roadData.drop_duplicates(inplace=True)
    #将数据按照时间顺序（先对TIME1再对PERIOD），（从小到大排序），（直接在原dataframe上进行操作）
    roadData.sort_values(by = ['TIME1','PERIOD'],ascending=True,inplace=True)
    #重置索引，让索引按照一个顺序下来
    roadData=roadData.reset_index()
    #删除退居二线的原来的没用的索引
    del roadData['index']
    #返回全部无缺失观测值的天数索引值，返回值是一个列表
    b = list(a[a.values==288].index)
    #对b的天数增序排列
    b.sort()
    
    #遍历所有的无确实观测值的天数的索引值，提取出某一天的全部数据（dataframe），然后依次添加每一天的数据（dataframe）进去，合并为一个大（dataframe）
    roadData_no_queshi = roadData[(roadData.TIME1 == b[0])]
    for i in range(1,len(b)):
        new_roadData_no_queshi = roadData[(roadData.TIME1 == b[i])]  #类型为（dataframe）
        roadData_no_queshi = roadData_no_queshi.append(new_roadData_no_queshi)    #roadData_no_queshi是提取出来的全部不含缺失值的数据，类型为（dataframe）
    
    #随机从某条路径的数据中抽取 n 条数据，为无放回抽样
    sample = roadData_no_queshi.sample(n=sample_num,replace=False)
    sample
    
    #遍历所抽取的 n 条数据，使用补值方法进行补值，查看正确率
    #创建一个空列表用于储存补的值
    supplemental_EXPONENT_list = []
    sample_TIME1 = list(sample['TIME1'].values)
    sample_PERIOD = list(sample['PERIOD'].values)
    for i in range(sample.shape[0]):
        indexOfTrueValue = roadData[(roadData.TIME1 == sample_TIME1[i]) & (roadData.PERIOD == sample_PERIOD[i])].index
        supplemental_EXPONENT = roadData.EXPONENT.values[indexOfTrueValue+1]
        supplemental_EXPONENT_list = supplemental_EXPONENT_list + [supplemental_EXPONENT]
    
    #比较所有样本的拥堵状况的真实值和增补的值的差异，计算补值方法的正确度
    sample_EXPONENT = list(sample['EXPONENT'].values)
    sum = 0
    for i in range(len(sample_EXPONENT)):
        if sample_EXPONENT[i]==supplemental_EXPONENT_list[i]:
            sum += 1
    accuracy_rate = sum/len(sample_EXPONENT)
    print(accuracy_rate)   
    
    return accuracy_rate

In [20]:
accuracy_rate = backward_supplement_accuracy_rate(roadData,1000)

0.815

### 3.（前一刻的、前一天此刻的和上一周此刻的）加权平均

In [21]:
def our_supplement_accuracy_rate(roadData,sample_num):
    #统计TIME1列数据的频数（合理的频数为288），确认数据重复和缺失情况
    a = roadData.TIME1.value_counts()  #此时a是series类型，根据a的结果，可以发现有重复数据和缺失数据
    #针对有重复数据的，删除重复数据（直接在原dataframe上进行操作）
    roadData.drop_duplicates(inplace=True)
    #将数据按照时间顺序（先对TIME1再对PERIOD），（从小到大排序），（直接在原dataframe上进行操作）
    roadData.sort_values(by = ['TIME1','PERIOD'],ascending=True,inplace=True)
    #重置索引，让索引按照一个顺序下来
    roadData=roadData.reset_index()
    #删除退居二线的原来的没用的索引
    del roadData['index']
    #返回全部无缺失观测值的天数索引值，返回值是一个列表
    b = list(a[a.values==288].index)
    #对b的天数增序排列
    b.sort()
    
    #遍历所有的无确实观测值的天数的索引值，提取出某一天的全部数据（dataframe），然后依次添加每一天的数据（dataframe）进去，合并为一个大（dataframe）
    roadData_no_queshi = roadData[(roadData.TIME1 == b[0])]
    for i in range(1,len(b)):
        new_roadData_no_queshi = roadData[(roadData.TIME1 == b[i])]  #类型为（dataframe）
        roadData_no_queshi = roadData_no_queshi.append(new_roadData_no_queshi)    #roadData_no_queshi是提取出来的全部不含缺失值的数据，类型为（dataframe）
    
    #随机从某条路径的数据中抽取 n 条数据，为无放回抽样
    sample = roadData_no_queshi.sample(n=sample_num,replace=False)
    sample
    
    #遍历所抽取的 n 条数据，使用补值方法进行补值，查看正确率
    #创建一个空列表用于储存补的值
    supplemental_EXPONENT_list = []
    sample_TIME1 = list(sample['TIME1'].values)
    sample_PERIOD = list(sample['PERIOD'].values)
    for i in range(sample.shape[0]):
        indexOfTrueValue = roadData[(roadData.TIME1 == sample_TIME1[i]) & (roadData.PERIOD == sample_PERIOD[i])].index
        supplemental_EXPONENT = int(0.5*roadData.EXPONENT.values[indexOfTrueValue-1]+0.3*roadData.EXPONENT.values[indexOfTrueValue-288]+0.2*roadData.EXPONENT.values[indexOfTrueValue-2016])
        supplemental_EXPONENT_list = supplemental_EXPONENT_list + [supplemental_EXPONENT]
    
    #比较所有样本的拥堵状况的真实值和增补的值的差异，计算补值方法的正确度
    sample_EXPONENT = list(sample['EXPONENT'].values)
    sum = 0
    for i in range(len(sample_EXPONENT)):
        if sample_EXPONENT[i]==supplemental_EXPONENT_list[i]:
            sum += 1
    accuracy_rate = sum/len(sample_EXPONENT)
    print(accuracy_rate)   
    
    return accuracy_rate

In [22]:
accuracy_rate = our_supplement_accuracy_rate(roadData,1000)

0.679

- 经过测试，最终选择加权补值法

## （二）编写函数

In [ ]:
def Handle_duplicate_and_missing_values(roadData,num): #num为道路序号
    #统计TIME1列数据的频数（合理的频数为288），确认数据重复和缺失情况
    a = roadData.TIME1.value_counts()  #此时a是series类型，根据a的结果，可以发现有重复数据和缺失数据
    #针对有重复数据的，删除重复数据（直接在原dataframe上进行操作）
    roadData.drop_duplicates(inplace=True)
    #将数据按照时间顺序（先对TIME1再对PERIOD），（从小到大排序），（直接在原dataframe上进行操作）
    roadData.sort_values(by = ['TIME1','PERIOD'],ascending=True,inplace=True)
    #重置索引，让索引按照一个顺序下来
    roadData=roadData.reset_index()
    #删除退居二线的原来的没用的索引
    del roadData['index']
    #返回全部有缺失观测值的天数日期
    b=list(a[a.values!=288].index)
    #按照时间递增的顺序排序
    b.sort()
    for i in b:   #遍历每一个有缺失观测值的日期
        period_list = [i for i in range(1,289)]  #建立一个观测时间段的全集
        c = roadData.loc[roadData['TIME1']== i ]  #在roadData中提取出该日期的全部数据
        for j in range(c.shape[0]):  #遍历每一个时间段
            try:
                period_list.remove(c.iloc[j,1])   #在观测时间段的全集里移走不缺失观测值的时间段
            except:
                continue
        #print(period_list)
        for j in period_list:  #现在的list是该日期下缺失观测值的时间段
            roadData.loc [i+str(j)] = [i, j, 'none',num ]  #
        #将数据按照时间顺序（先对TIME1再对PERIOD），（从小到大排序），（直接在原dataframe上进行操作）
        roadData.sort_values(by = ['TIME1','PERIOD'],ascending=True,inplace=True)
        #重置索引，让索引按照一个顺序下来
        roadData=roadData.reset_index()
        #删除退居二线的原来的没用的索引
        del roadData['index']
        #更新c
        c = roadData.loc[roadData['TIME1']== i ]  #在roadData中提取出该日期的全部数据,含有None值了
        for j in range(len(period_list)):  #遍历每一个时间段
            #print('<----'+str(j)+'---->')
            index = roadData[(roadData.TIME1==i) & (roadData.PERIOD==period_list[j])].index  #返回确定缺失日期和缺失天数在roadData中对应的索引
            supplemental_EXPONENT = int(0.5*roadData.EXPONENT.values[index[0]-1]+0.3*roadData.EXPONENT.values[index[0]-288]+0.2*roadData.EXPONENT.values[index[0]-2016]) #采用前项补值法
            roadData.loc[index[0],'EXPONENT'] = supplemental_EXPONENT 
            
    return roadData

## （三）测试函数

In [24]:
#得到处理好的roadData数据，无缺失值和重复值
roadData = Handle_duplicate_and_missing_values(roadData,2)
roadData

                     TIME1  PERIOD EXPONENT  BLOCKID
0      2018-03-01 00:00:00       1        1        1
1      2018-03-01 00:00:00       2        1        1
2      2018-03-01 00:00:00       3        1        1
3      2018-03-01 00:00:00       4        1        1
4      2018-03-01 00:00:00       5        1        1
...                    ...     ...      ...      ...
77179  2018-11-24 00:00:00     284        1        1
77180  2018-11-24 00:00:00     285        1        1
77181  2018-11-24 00:00:00     286        1        1
77182  2018-11-24 00:00:00     287        1        1
77183  2018-11-24 00:00:00     288        1        2

[77184 rows x 4 columns]

In [25]:
roadData.to_excel(r'road2.xlsx')

# 五、依次提取单一路径路况信息、删重补缺、增加星期信息、将星期独热编码并保存为Excel文件

In [ ]:
for num in range(1,73):
    #提取单一路径数据
    roadData = extract_single_road(num) 
    #查重补缺
    corrected_roadData = Handle_duplicate_and_missing_values(roadData,num)
    #增加星期信息
    corrected_roadData['TIME1'] = pd.to_datetime(corrected_roadData['TIME1'])
    corrected_roadData['WEEK'] = corrected_roadData['TIME1'].dt.dayofweek+1
    #对week进行独热编码
    corrected_roadData['Monday'] = (corrected_roadData.WEEK == 1).astype('int')
    corrected_roadData['Tuesday'] = (corrected_roadData.WEEK == 2).astype('int')
    corrected_roadData['Wednesday'] = (corrected_roadData.WEEK == 3).astype('int')
    corrected_roadData['Thursday'] = (corrected_roadData.WEEK == 4).astype('int')
    corrected_roadData['Friday'] = (corrected_roadData.WEEK == 5).astype('int')
    corrected_roadData['Saturday'] = (corrected_roadData.WEEK == 6).astype('int')
    corrected_roadData['Sunday'] = (corrected_roadData.WEEK == 7).astype('int')
    #删除无用列
    corrected_roadData.drop ('WEEK', axis=1,inplace=True)
    corrected_roadData.drop ('BLOCKID', axis=1,inplace=True)
    #保存
    corrected_roadData.to_excel('road%s.xlsx'%num,engine='openpyxl')
    print('第%s条路的数据已经保存.xlsx'%num)

第1条路的数据已经保存.xlsx
第2条路的数据已经保存.xlsx
第3条路的数据已经保存.xlsx
第4条路的数据已经保存.xlsx
第5条路的数据已经保存.xlsx
第6条路的数据已经保存.xlsx
第7条路的数据已经保存.xlsx
第8条路的数据已经保存.xlsx
第9条路的数据已经保存.xlsx
第10条路的数据已经保存.xlsx
第11条路的数据已经保存.xlsx
第12条路的数据已经保存.xlsx
第13条路的数据已经保存.xlsx
第14条路的数据已经保存.xlsx
第15条路的数据已经保存.xlsx
第16条路的数据已经保存.xlsx
第17条路的数据已经保存.xlsx
第18条路的数据已经保存.xlsx
第19条路的数据已经保存.xlsx

# 附录：“干中学”收获的一些知识

- 注：Excel最多支持写入1048576行数据
- pandas最多支持读入65536行数据
- Pandas 读取 Excel 文件的引擎是 xlrd ， xlrd 虽然同时支持 .xlsx 和 .xls 两种文件格式，但是在源码文件 xlrd/sheet.py 中限制了读取的 Excel 文件行数必须小于 65536，列数必须小于 256。
- 这就导致，即使是 .xlsx 格式的文件， xlrd 依然不支持读取 65536 行以上的 Excel 文件（源码中还有一个行数限制是 16384，这是因为 Excel 95 时代， xls 文件所支持的最大行数是 16384）。

- 解决办法

- openpyxl 是一个专门用来操作 .xlsx 格式文件的 Python 库，和 xlrd 相比它对于最大行列数的支持和 .xlsx 文件所定义的最大行列数一致。

- 首先安装 openpyxl ：

- Pandas 的 read_excel 方法中，有 engine 字段，可以指定所使用的处理 Excel 文件的引擎，填入 openpyxl ，再读取文件就可以了。

- import pandas as pd
- df = pd.read_excel('./data.xlsx', engine='openpyxl')